<template>
  <div>
    <tag />
    <keymap />
    <div class="panorama">
      <viewer />
    </div>
  </div>
</template>

<script>
import viewer from "../components/ws_viewer.vue";
import keymap from "../components/ws_keymap.vue";
import tag from "../components/ws_tag.vue";
export default {
  name: "panorama",
  components: {
    viewer,
    keymap,
    tag
  },
};
</script>

<style lang="scss" scoped>
.panorama{
  width: 400px;
}
</style>
