<template>
  <div></div>
</template>

<script>
import Circle from "ol/style/Circle";
import Stroke from "ol/style/Stroke";
import Fill from "ol/style/Fill";
import Vector from "ol/layer/Vector";
import OlSourceVector from "ol/source/Vector";
import mapGeoJSON from "../../data/coba.geo.json";
import proj4 from "proj4";
import * as turf from "@turf/turf";
import GeoJSON from "ol/format/GeoJSON";
import Projection from "ol/proj/Projection";
import { addProjection } from "ol/proj.js";
import { register } from "ol/proj/proj4.js";
import Style from "ol/style/Style";

export default {
  name: "keymap",
  data() {
    return {};
  },
  created() {
    console.log("ini keymap");
    this.$parent.$on("update_context", this.exportContext);
    this.overlay_layer = new Vector({
      title: "Overlay",
      visible: true,
      projection: "EPSG:4326",
      source: new OlSourceVector({
        //  url: mapGeoJSON,
        //  format: new GeoJSON()
        feature: [],
      }),
      style: new Style({
        stroke: new Stroke({
          color: "#0073e6",
          width: 1,
        }),
        fill: new Fill({
          color: "rgba(255, 255, 255, 0.3)",
        }),
        image: new Circle({
          radius: 3,
          fill: new Fill({ color: "#0073e6" }),
        }),
      }),
    });
  },
  methods: {
    set_utm_proj: function (utm_code) {
      let utm_zone = utm_code.slice(0, -1);
      const utm_suffix = utm_code.slice(-1);
      if (!"NPQRSTUVZXY".includes(utm_suffix)) {
        utm_zone += "+south";
      }
      this.utm_proj =
        "+proj=utm +zone=%z +datum=WGS84 +units=m +no_defs".replace(
          "%z",
          utm_zone
        ); // + ("N" == utm_or ? "" : "+south"));
    },
    exportContext: async function () {
      var writer = new GeoJSON();
      const utm_srid = "EPSG:" + this.pano.utm_code.toString();
      //const utm_def = "+proj=utm +zone=" + this.pano.utm_zone + " +datum=WGS84 +units=m +no_defs"
      //const utm_def = "+proj=utm +zone=32N +datum=WGS84 +units=m +no_defs"
      proj4.defs(utm_srid, this.utm_proj);
      register(proj4);

      var utm_proj = new Projection({
        code: utm_srid,
        extent: [
          this.pano.x - 100000,
          this.pano.y - 100000,
          this.pano.x + 100000,
          this.pano.y + 100000,
        ],
      });
      addProjection(utm_proj);

      // await axios.get(`${this.$parent.backend2}/roadhorst/bbox_filter/?bbox=${this.pano.x-100000},${this.pano.y-100000},${this.pano.x+100000},${this.pano.y+100000}`)
      //     .then(res => {
      //       console.log('ini adalah problem')
      //       console.log(res.data)
      //       return this.mapGeoJSON =  res.data
      //     })
      const features = new GeoJSON({
        featureProjection: "EPSG:3857",
      }).readFeatures(mapGeoJSON);

    //   const features = this.overlay_layer.getSource().getFeatures(features2);

      //   var tl = proj4(this.utm_proj).forward([this.pano.lon, this.pano.lat]);
      //   var bbox = [tl[0] - 200, tl[1] - 200, tl[0] + 200, tl[1] + 200];
      var transformed_features = [];
      for (var i = 0; i < features.length; ++i) {
        const testGeom = features[i].getGeometry().clone();
        testGeom.transform("EPSG:3857", "EPSG:4326");

        const testGeomJson = JSON.parse(writer.writeGeometry(testGeom));

        const dist = turf.distance(
          turf.point([this.pano.lon, this.pano.lat]),
          turf.centroid(testGeomJson)
        );
        //console.log(dist)
        if (dist < 2) {
          const contextGeom = features[i].getGeometry().clone();
          contextGeom.transform("EPSG:3857", utm_srid);
          const contextFeatJson = JSON.parse(writer.writeFeature(features[i]));
          const contextGeomJson = JSON.parse(writer.writeGeometry(contextGeom));
          contextFeatJson["geometry"] = contextGeomJson;
          transformed_features.push(contextFeatJson);
        }
      }
      console.log("hai");
      console.log("transformed_features: ", transformed_features.length);
      //console.log(transformed_features)
      this.$parent.$emit("context_redraw", transformed_features);
    },
  },
  computed: {
    pano() {
      this.set_utm_proj('32U');
      return this.$store.getters.get_data_pano;
    },
  },
};
</script>

<style lang="scss" scoped></style>
