<template>
  <div>
    <div v-if="loading == false" id="container"></div>
    <div v-if="loading == true">
      <h1>Loading</h1>
    </div>
  </div>
</template>

<script>
/* eslint-disable */
import * as THREE from "three";
import axios from "axios";
import { MeshLine, MeshLineMaterial} from 'three.meshline';

export default {
  name: "viewer",
  data() {
    return {
      pano_key: "369c7cc1-c341-47f1-ab9a-5bd79b3420be",
      pano_lat: null,
      pano_lon: null,
      pano_track: null,
      utm_srid: null,
      utm_x: null,
      loading: false,
      utm_y: null,
      look_at: null,
      rendere: undefined,
      height_from_ground: 2,

      isUserInteracting: false,
      lon: null,
      lat: null,
      onMouseDownMouseX: null,
      onMouseDownMouseY: null,
      onMouseDownLon: null,
      onMouseDownLat: null,

      idProject: 'e0be0603-94a1-4a6c-b6a2-283893c81175',

      parent_initialPano: null,
      parent_backend: null,

      backend_link: null,

      options: {
        context: true,
        labels: true,
        tags: true,
        spots: true,
      },
    };
  },
  mounted: function () {
    this.load_pano(this.pano_key);
  },
  created: function () {
    //this.id = this._uid
    let component = this;
    // this.sample_point = null
    this.point1_texture = new THREE.TextureLoader();
    require("../assets/marker.png");
    this.point1_texture.load(
      require("../assets/sprites/point8.png"),
      function (texture) {
        const point_material = new THREE.SpriteMaterial({
          map: texture,
        });
        component.sample_point = new THREE.Sprite(point_material);
        component.sample_point.scale.set(40, 40, 1);
        component.sample_point.position.set(1000, 1000, 1000);
      }
    );

    const horizon_geometry = new THREE.CircleGeometry(450, 50);
    horizon_geometry.vertices.shift();
    this.horizon_material = new THREE.LineDashedMaterial({
      color: "skyblue",
      linewidth: 1,
      scale: 1,
      dashSize: 5,
      gapSize: 5,
    });
    this.horizon = new THREE.LineLoop(horizon_geometry, this.horizon_material);
    this.horizon.computeLineDistances();
    this.horizon.rotation.x = -Math.PI / 2;
    this.horizon.rotation.y = Math.PI;

    const plane_geometry = new THREE.PlaneGeometry(1000, 1000, 100, 100);
    const plane_material = new THREE.MeshBasicMaterial({
      color: 0xfff00f,
      transparent: true,
      //wireframe: true,
      visible: false,
      side: THREE.DoubleSide,
      opacity: 0.1,
    });
    this.plane_surf = new THREE.Mesh(plane_geometry, plane_material);
    this.plane_surf.rotation.x = -Math.PI / 2;

    const location_line_geometry = new THREE.Geometry();
    const location_line_material = new THREE.LineDashedMaterial({
        color: 0xffffff,
        linewidth: 4,
        scale: 1,
        dashSize: 0.1,
        gapSize: 0.1,
    });
    location_line_geometry.vertices.push(
    	new THREE.Vector3( 0, 0, 0 ),
    	new THREE.Vector3( 0, 1000, 0 )
    );
    this.location_line = new THREE.Line( location_line_geometry, location_line_material );
    this.location_line.computeLineDistances()
    this.location = new THREE.Object3D()
    this.location.add(this.location_line)

    this.location.position.set(1000, 1000, 1000);

    this.other_panos_group = new THREE.Object3D()

    const pano_link_geometry = new THREE.CircleGeometry(1.5, 60);
    const pano_link_material = new THREE.LineBasicMaterial({
      color: "yellow",
      linewidth: 2,
    });
    this.pano_link = new THREE.Line(pano_link_geometry, pano_link_material);
    this.pano_link.rotation.x = -Math.PI / 2;

    this.tagMaterial = new THREE.LineBasicMaterial( { color: 0xffffff, linewidth: 4 } );
    this.loadedtagsMaterial = new THREE.LineBasicMaterial( { color: 0xff00ff, linewidth: 4 } );
    this.tagObject = new THREE.Line( this.tagGeom,  this.tagMaterial );

    this.contextPolyMaterial = new THREE.LineBasicMaterial( { color: 0xf7f700, linewidth: 1 } );
    this.contextLineMaterial = new THREE.LineBasicMaterial( { color: 0xf7f700, linewidth: 5 } );
    const contextPointMaterial = new THREE.MeshBasicMaterial({color: 0xf7f700, opacity: 1});
    this.contextPointGeometry = new THREE.Mesh(new THREE.CircleGeometry( 0.2, 12 ), contextPointMaterial)
    this.contextPointGeometry.rotation.x = -Math.PI / 2;

    this.other_panos_material = new THREE.MeshBasicMaterial({
        color: 0xf0ff20,
        //wireframe: true,
        side: THREE.DoubleSide,
        transparent: true,
        opacity: 0.4
    });

    this.other_panos_selected_material = new THREE.MeshBasicMaterial({
        color: 0xf0ff20,
        side: THREE.DoubleSide,
        transparent: true,
        opacity: 0.8

    });

    this.raycaster = new THREE.Raycaster();
    this.mouse = new THREE.Vector2();
  },

  methods: {
    async load_pano(pano_key) {
      console.log("LOADING PANO", pano_key);
      this.scene = new THREE.Scene();
      this.camera = new THREE.PerspectiveCamera(
        50,
        window.innerWidth / window.innerHeight,
        1,
        1100
      );
      this.camera.target = new THREE.Vector3(0, 0, 0);
      this.scene = new THREE.Scene();
      this.geometry = new THREE.SphereBufferGeometry(500, 25, 25);
      this.geometry.scale(-1, 1, 1);
      this.loading = true;
      document.documentElement.style.cursor = 'wait';
      
      await axios
        .get(`http://localhost:8000/panoramas/${pano_key}/`)
        .then((res) => {
          this.pano_loaded(res.data)
          this.$store.commit('change_data_pano', res.data)
        });
    },
    pano_loaded(panorama_data) {
      this.panorama_data = panorama_data;
      this.current_pano = panorama_data;
      console.log(panorama_data);
      const texture_loader = new THREE.TextureLoader();
      console.log(this.panorama_data["eqimage"]);
      const component = this;
      
      texture_loader.load(
        this.panorama_data["eqimage"],
        function (texture) {
          component.applyEqimageMapping(texture);
        },
        undefined,
        function (err) {
          console.error("An error happened:");
          console.error(err);
          component.load_pano();
        }
      );
    },
    applyEqimageMapping(mapping) {
      this.loading = false;
      document.documentElement.style.cursor = 'auto';
      if (this.material) {
        this.material.dispose();
      }
      this.material = new THREE.MeshBasicMaterial({
        map: mapping,
        side: THREE.DoubleSide,
      });

      this.mesh = new THREE.Mesh(this.geometry, this.material);
      this.scene.add(
        this.mesh,
        //this.sample_point,
         this.plane_surf,
        //this.location,
        // this.horizon
      );

      this.grid_geometry = new THREE.SphereBufferGeometry(450, 40, 20);
      this.grid_material = new THREE.MeshBasicMaterial({
        color: new THREE.Color(0xff0000),
        visible: false,
        side: THREE.DoubleSide,
      });
      this.grid_mesh = new THREE.Mesh(this.grid_geometry, this.grid_material);
      this.scene.add(this.grid_mesh);

      if (this.renderer == undefined) {
        this.renderer = new THREE.WebGLRenderer(); //SoftwareRenderer();
        this.renderer.setPixelRatio(window.devicePixelRatio);
        this.renderer.setSize(window.innerWidth, window.innerHeight);
        this.$el.appendChild(this.renderer.domElement);
      }

      this.pano_note = this.panorama_data["note"]
      this.pano_key = this.panorama_data["id"]
      this.pano_lat = this.panorama_data["lat"]
      this.pano_lon = this.panorama_data["lon"]
      this.pano_track = this.panorama_data["heading"]
      this.utm_code = this.panorama_data["utm_code"]
      this.utm_srid = this.panorama_data["utm_srid"]
      this.utm_x = this.panorama_data["utm_x"]
      this.utm_y = this.panorama_data["utm_y"]
      this.creator = this.panorama_data["creator_name"]
      if (this.panorama_data["pitch"]) {
          this.pitch = this.panorama_data["pitch"]
      } else {
          this.pitch = 0
      }
      if (this.panorama_data["roll"]) {
          this.roll = this.panorama_data["roll"]
      } else {
          this.roll = 0
      }

      this.mesh.rotation.y = Math.PI;
      this.mesh.rotation.z = Math.PI * this.pitch / 180;
      this.mesh.rotation.x = Math.PI * this.roll / 180;


      if (this.panorama_data["height_from_ground"]) {
          this.height_from_ground = this.panorama_data["height_from_ground"]
      } else {
          this.height_from_ground = 2
      }
      this.plane_surf.position.y = -this.height_from_ground;

      if (this.lat && this.lon) {
        this.render();
        this.emitViewChanged();
      }

      this.contextGroup = new THREE.Group();
      this.scene.add(this.contextGroup);
      this.restore_other_panos();
      this.enableNavigation();

      this.$parent.$on('navigationEnabled', this.enableNavigation)
      this.$parent.$on('navigationDisabled', this.disableNavigation)

      this.$parent.$on('taggingEnabled', this.enableTagging)
      this.$parent.$on('taggingDisabled', this.disableTagging)
      
      this.render();
      this.$parent.$emit('update_context')
      this.$parent.$on('options_changed', this.changeViewOptions)
      
      this.$parent.$on('context_redraw', this.redrawContext)
    },
    async restore_other_panos(){
       await axios.get(`http://localhost:8000/panoramas/?sequence=${this.idProject}&dist=20&point=${this.pano_lon},${this.pano_lat}`)
            .then(res => {
              console.log(res.data)
              this.otherPanosLoaded(res.data)
              // return res.data
            })
    },
    changeViewOptions: function(options) {
       this.options = options
      this.restoreTags()
      //  this.restoreSpots()
       this.$parent.$emit('update_context')
     },
    render: function () {
      requestAnimationFrame(this.render);
      this.update();
    },
    enableNavigation: function () {
      this.$el.addEventListener("mousedown", this.onDocumentMouseDown, false);
      this.$el.addEventListener('mousemove', this.onDocumentMouseMove, false);
      this.$el.addEventListener('mouseup', this.onDocumentMouseUp, false);
      //  this.$el.addEventListener('mouseout', this.onDocumentMouseUp, false);
      this.$el.addEventListener('wheel', this.onDocumentMouseWheel, false);
      // this.$el.addEventListener('dblclick', this.onDocumentDblclick, false);
      this.$el.addEventListener('click', this.onDocumentClick, false);
      this.showCursor(true)
    },
    
     disableNavigation: function() {
       this.$el.removeEventListener('mousedown', this.onDocumentMouseDown, false);
       this.$el.removeEventListener('mousemove', this.onDocumentMouseMove, false);
       this.$el.removeEventListener('mouseup', this.onDocumentMouseUp, false);
      //  this.$el.removeEventListener('mouseout', this.onDocumentMouseUp, false);
       this.$el.removeEventListener('wheel', this.onDocumentMouseWheel, false);
       this.$el.removeEventListener('dblclick', this.onDocumentDblclick, false);
      //  this.$el.removeEventListener('click', this.onDocumentClick, false);
       this.showCursor(false)
     },

      enableTagging: function() {
       this.$el.addEventListener('click', this.onTagClick, false);
      this.$el.addEventListener('dblclick', this.onTagDblClick, false);
       this.$el.addEventListener('mousemove', this.onTagMouseMove, false);
       this.taggingInit();
     },

     disableTagging: function() {
       this.$el.removeEventListener('click', this.onTagClick, false);
       this.$el.removeEventListener('dblclick', this.onTagDblClick, false);
       this.$el.removeEventListener('mousemove', this.onTagMouseMove, false);
       this.taggingInit();
     },

      taggingInit: function() {
      this.tagShape = undefined;
      this.scene.remove(this.tagObject);
    },
    onTagClick: function(event) {
       if (event.button == 2) {
          //  this.storeTag()
       } else {
            if (this.tagShape){
                this.tagObject.geometry.dispose();
                //this.scene.remove(this.tagObject);
            } else {
                this.tagShape = [];
                this.tagGeom = new THREE.Geometry();
                this.scene.add(this.tagObject);
                this.lastPoint = undefined;
                this.startPoint = undefined;
            }
            const intersect = this.getEquirectIntObj(event);
            const clickedPoint = new THREE.Vector3(intersect[0].point.x, intersect[0].point.y, intersect[0].point.z)
            if (!this.startPoint) {
              this.startPoint = clickedPoint;
            }
            this.tagGeom.vertices.push(clickedPoint);
            this.tagShape.push([intersect[0].uv.x,intersect[0].uv.y]);
            console.log("GEOM",intersect[0].point.x, intersect[0].point.y, intersect[0].point.z);
            const polyGeom = this.tagGeom.clone();
            polyGeom.vertices.push(this.startPoint);
            this.tagObject.geometry = polyGeom;
            this.renderer.render(this.scene, this.camera);

       }
     },
     getEquirectIntObj: function (event) {
         const rect = this.renderer.domElement.getBoundingClientRect();
         this.mouse.x = ((event.clientX - rect.left) / this.renderer.domElement.clientWidth) * 2 - 1;
         this.mouse.y = -((event.clientY - rect.top) / this.renderer.domElement.clientHeight) * 2 + 1;
         this.raycaster.setFromCamera(this.mouse, this.camera);
         return this.raycaster.intersectObject(this.grid_mesh);
    },

    onTagMouseMove: function(event) {
        if (this.tagShape){
            const intersect = this.getEquirectIntObj(event);
            const movedPoint = new THREE.Vector3(intersect[0].point.x, intersect[0].point.y, intersect[0].point.z)
            const polyGeom = this.tagGeom.clone();
            polyGeom.vertices.push(movedPoint,this.startPoint);
            this.tagObject.geometry = polyGeom.clone();
        }
    },

    onTagDblClick: function(event) {
        // this.storeTag()
        this.scene.remove(this.tagObject);
    },
     onDocumentClick: function(event) {
       const rect = this.renderer.domElement.getBoundingClientRect();
       this.mouse.x = ((event.clientX - rect.left) / this.renderer.domElement.clientWidth) * 2 - 1;
       this.mouse.y = -((event.clientY - rect.top) / this.renderer.domElement.clientHeight) * 2 + 1;
       this.raycaster.setFromCamera(this.mouse, this.camera);
       const intersect = this.raycaster.intersectObjects([this.other_panos_group],true);
       if (intersect[0]) {
           console.log("type",intersect[0].object.type)
           switch (intersect[0].object.ws_type) {
               case 'other pano':
                  console.log('Click Pano')
                    this.load_pano(intersect[0].object.ws_pano_key) 
                    break;
      //          case 'map spot':
      //               this.$parent.$emit('editTag', intersect[0].object.ws_imgObjKey)
      //               break;
            }
        }
     },

     onDocumentMouseUp: function (event) {
       this.isUserInteracting = false;
     },

    onDocumentMouseDown: function (event) {
      event.preventDefault();
      this.isUserInteracting = true;
      this.onMouseDownMouseX = event.clientX;
      this.onMouseDownMouseY = event.clientY;
      this.onMouseDownLon = this.lon;
      this.onMouseDownLat = this.lat;
    },

    onDocumentMouseMove: function (event) {
       if (this.isUserInteracting === true) {
           this.lon = (this.onMouseDownMouseX - event.clientX) * 0.1 + this.onMouseDownLon;
           this.lat = (event.clientY - this.onMouseDownMouseY) * 0.1 + this.onMouseDownLat;
           this.emitViewChanged();
          //  this.refreshLabels();

       } else {
           const rect = this.renderer.domElement.getBoundingClientRect();
           this.mouse.x = ((event.clientX - rect.left) / this.renderer.domElement.clientWidth) * 2 - 1;
           this.mouse.y = -((event.clientY - rect.top) / this.renderer.domElement.clientHeight) * 2 + 1;
           this.raycaster.setFromCamera(this.mouse, this.camera);
           const other_panos_intersect = this.raycaster.intersectObject(this.other_panos_group, true);
          
           if (other_panos_intersect[0]) {
               this.showCursor(false);
               this.selected_link = other_panos_intersect[0].object;
               this.selected_link.material = this.other_panos_selected_material;
               document.documentElement.style.cursor = 'none';
           } 
           else {
              this.showCursor(true);
              document.documentElement.style.cursor = 'auto';
              try {this.selected_link.material = this.other_panos_material} catch (e) {}
           }
          //  const plane_intersect = this.raycaster.intersectObject(this.plane_surf);
          //  if (plane_intersect[0]) {
          //      const back_rotation = - Math.PI * this.pano_track / 180;
          //      const back_x = plane_intersect[0].point.z * Math.cos(back_rotation) - plane_intersect[0].point.x * Math.sin(back_rotation);
          //      const back_y = plane_intersect[0].point.x * Math.cos(back_rotation) + plane_intersect[0].point.z * Math.sin(back_rotation);
          //      this.$parent.$emit('PanoCursorChanged',back_x , back_y)
          //      this.location.position.set(plane_intersect[0].point.x, plane_intersect[0].point.y+0.1, plane_intersect[0].point.z);
          //  }

       }
     },

     onDocumentMouseWheel: function (event) {
       const fov = this.camera.fov + (event.deltaY/50);
       console.log(event.deltaY/10)
       this.camera.fov = THREE.Math.clamp(fov, 5, 75);
      //  console.log(fov)
       this.camera.updateProjectionMatrix();
     },
     emitViewChanged: function () {
         const center_view = new THREE.Vector2();
         center_view.x = 0;
         center_view.y = 0
         this.raycaster.setFromCamera(center_view, this.camera);
         const intersect = this.raycaster.intersectObject(this.grid_mesh);
         let rotation = -(360 * intersect[0].uv.x - this.pano_track);
         if (rotation < 0) {
             rotation = 360 + rotation
         }
         rotation = rotation - 180
         this.$parent.$emit('ViewChanged',rotation)
     },
     showCursor: function (isVisible) {
         this.location.traverse ( function (child) {
            child.visible = isVisible;
         });
     },
    update: function () {
      this.lat = Math.max(-85, Math.min(85, this.lat));
      const phi = THREE.Math.degToRad(90 - this.lat);
      const theta = THREE.Math.degToRad(this.lon);
      this.camera.target.x = 500 * Math.sin(phi) * Math.cos(theta);
      this.camera.target.y = 500 * Math.cos(phi);
      this.camera.target.z = 500 * Math.sin(phi) * Math.sin(theta);
      this.camera.lookAt(this.camera.target);
      this.renderer.render(this.scene, this.camera);
    },
    otherPanosLoaded: function(other_panos_data) {
        const other_panos_material = new THREE.MeshBasicMaterial({
            color: 0xf0ff20,
            //wireframe: true,
            side: THREE.DoubleSide,
            transparent: true,
            opacity: 0.4
        });

        this.scene.remove(this.other_panos_group)
        this.other_panos_group = new THREE.Object3D()
        //console.log('hallo ini data '+ other_panos_data)
       // console.log(other_panos_data["count"])

        for (var i = 0; i < other_panos_data["count"]; i++) { // (var item in context_data["results"])
            const item = other_panos_data["results"][i]
           
            let op_geometry = new THREE.CircleGeometry( 1, 32 );
            let op_location = new THREE.Mesh( op_geometry, other_panos_material );
            op_location.rotation.x = -Math.PI / 2;
            op_location.position.set(-(this.utm_y - item.utm_y), -this.height_from_ground, -(this.utm_x - item.utm_x))
            op_location.ws_type = 'other pano'
            op_location.ws_pano_key = item.id
            this.other_panos_group.add(op_location)
           
       }
        this.other_panos_group.rotation.y = Math.PI * this.pano_track / 180; // 180:PI=rot:x
        this.scene.add(this.other_panos_group)
     },
     redrawContext: function(context) {
        console.log("REDRAW CONTEXT")
        //remove contextGroup
      console.log(context)
        for (var i = this.contextGroup.children.length - 1; i >= 0; i--) {
            this.contextGroup.remove(this.contextGroup.children[i]);
           
        }
        this.scene.remove(this.contextGroup)

        if (this.options.context){
          for (var i=0; i<context.length; ++i) {
              const map_feat = context[i];
             
              if (map_feat["geometry"]["type"]=='MultiPolygon'){
                let startVertex;
                const contextShape = new THREE.Geometry();
                for (var k=0; k<map_feat["geometry"]["coordinates"][0][0].length; ++k) {
                    const vertex = new THREE.Vector3(
                        map_feat["geometry"]["coordinates"][0][0][k][1]-this.utm_y,
                        -this.height_from_ground,
                        map_feat["geometry"]["coordinates"][0][0][k][0]-this.utm_x,
                    );

                    if (!startVertex){
                        startVertex = vertex
                    }
                    contextShape.vertices.push(vertex)
                }
                contextShape.vertices.push(startVertex);
                const newContextObject = new THREE.Line( contextShape,  this.contextPolyMaterial );
                this.contextGroup.add(newContextObject);
              }
              if (map_feat["geometry"]["type"]=='MultiLineString'){
                const contextShape = new THREE.Geometry();
                for (var k=0; k<map_feat["geometry"]["coordinates"][0].length; ++k) {
                    const vertex = new THREE.Vector3(
                        map_feat["geometry"]["coordinates"][0][k][1]-this.utm_y,
                        -this.height_from_ground,
                        map_feat["geometry"]["coordinates"][0][k][0]-this.utm_x,
                    );
                    console.log(vertex)
                    contextShape.vertices.push(vertex)
                }
                const newContextObject = new THREE.Line( contextShape,  this.contextLineMaterial );
                this.contextGroup.add(newContextObject);
              }
              if (map_feat["geometry"]["type"]=='MultiPoint'){
                  for (var k=0; k<map_feat["geometry"]["coordinates"].length; ++k) {
                    const newContextPoint = this.contextPointGeometry.clone()
                    newContextPoint.position.set(
                            map_feat["geometry"]["coordinates"][k][1]-this.utm_y,
                            -this.height_from_ground,
                            map_feat["geometry"]["coordinates"][k][0]-this.utm_x,
                    );
                    this.contextGroup.add(newContextPoint);
                  }
              }
          }
          this.contextGroup.rotation.y = Math.PI * this.pano_track / 180;
          
          this.scene.add(this.contextGroup);
          console.log("contextGroup objs:",this.contextGroup.children.length)
        }
    },
  },
  watch: {

  }
};
</script>

<style lang="scss" scoped>
#container {
 
}
</style>
